
<div class="cs-height_100 cs-height_lg_70"></div>
<footer class="footer">
  <div class="container">
      <div class="top">
          <div class="info">
              <img class="logo" src="/logo/<%- site.logo  %>" alt="">
              <div class="socials">
                  <a href="<%- site.socialmedia.telegram  %>" target="_blank" class="navbar-item social-icon">
                      <img class="telegram" src="https://coinsniper.net/assets/img/telegram-white.svg">
                  </a>

                  <a href="<%- site.socialmedia.twitter  %>" target="_blank" class="navbar-item social-icon">
                      <img class="twitter" src="https://coinsniper.net/assets/img/twitter-white.svg">
                  </a>
              </div>
          </div>
          <div>
              <div class="navigation">
                  <a href="/allbestcoins">All Time Rankings</a>
                  <a href="/allbestcoins">Daily Ranking</a>
                  <a href="/newlisting">New Listings</a>
                  <a href="/submit">Submit Coin</a>
                  <a href="/contact">Contact Us</a>
                  <a href="/contact">Advertise</a>
              </div>
              
          </div>
      </div>
 
  </div>
</footer>

<!-- Start Video Popup -->
<div class="cs-video_popup">
  <div class="cs-video_popup_overlay"></div>
  <div class="cs-video_popup_content">
    <div class="cs-video_popup_layer"></div>
    <div class="cs-video_popup_container">
      <div class="cs-video_popup_align">
        <div class="embed-responsive embed-responsive-16by9">
        </div>
      </div>
      <div class="cs-video_popup_close"></div>
    </div>
  </div>
</div>
<%- site.googleanalytics  %>
<!-- End Video Popup -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js" integrity="sha512-Meww2sXqNHxI1+5Dyh/9KAtvI9RZSA4c1K2k5iL02oiPO/RH3Q30L3M1albtqMg50u4gRTYdV4EXOQqXEI336A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async="" defer=""></script>

<script src="https://cdn.jsdelivr.net/npm/keen-slider@latest/keen-slider.js"></script>
<script src="https://Morningglory101.io/sdk.js?v=1" data-id="nat_fb8556293663b9bec447169ce3cede18" data-clickout-type="native_table_box_processed" data-container-id="8902b09d"></script>

<div class="grwwe is-hidden" data-xx="5s3QQqD1fd9cntS1SZ65j6XyLv9CYMQPqLlSUJy8"></div><div class="usercheck is-hidden" data-loggedin="0"></div>
<script src="https://cdn.by.wonderpush.com/plugins/geojs/1.0.2/geojs.js" charset="utf-8"></script>
<!-- Script -->
<script src="/home/js/plugins/isotope.pkg.min.js"></script>
<script src="/home/js/plugins/jquery.slick.min.js"></script>
<script src="/home/js/main.js"></script>
<script src="https://coinsniper.net/assets/js/jquery-3.6.0.min.js"></script>
<script src="https://coinsniper.net/assets/js/app.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"
integrity="sha512-Meww2sXqNHxI1+5Dyh/9KAtvI9RZSA4c1K2k5iL02oiPO/RH3Q30L3M1albtqMg50u4gRTYdV4EXOQqXEI336A=="
crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
<script src="https://cdn.jsdelivr.net/npm/keen-slider@latest/keen-slider.js"></script>

<script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
<script src="/ajax/ajax.js"></script>
</body>
</html> 
<script src="/ajax/functions.js"></script>

