<nav class="sidebar">
  <div class="sidebar-header">
    <a href="/nadminpanel" class="sidebar-brand">
      Airdrop<span>Sniper</span>
    </a>
    <div class="sidebar-toggler not-active">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="sidebar-body">
    <ul class="nav">
     
      <li class="nav-item nav-category">Uygulamalar</li>
     
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#siteler" role="button" aria-expanded="false" aria-controls="siteler">
          <i class="link-icon" data-feather="users"></i>
          <span class="link-title">Site Bilgileri</span>
          <i class="link-arrow" data-feather="chevron-down"></i>
        </a>
        <div class="collapse" id="siteler">
          <ul class="nav sub-menu">
            <li class="nav-item">
              <a href="/nadminpanel/site" class="nav-link">Site Ayarları</a>
            </li>
         
          </ul>

        </div>
      </li>
      <li class="nav-item">
        <a href="/nadminpanel/coins" class="nav-link">
          <i class="link-icon" data-feather="figma"></i>
          <span class="link-title">Coinler</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="/nadminpanel/airdrop" class="nav-link">
          <i class="link-icon" data-feather="command"></i>
          <span class="link-title">Airdrop</span>
        </a> 
      </li>
      <li class="nav-item">
        <a href="/nadminpanel/reklamlar" class="nav-link">
          <i class="link-icon" data-feather="command"></i>
          <span class="link-title">Reklamlar</span>
        </a> 
      </li>
      <li class="nav-item">
        <a href="/nadminpanel/yetki" class="nav-link">
          <i class="link-icon" data-feather="user"></i>
          <span class="link-title">Admin Bilgileri</span>
        </a> 
      </li>
          <li class="nav-item">
        <a href="/nadminpanel/support" class="nav-link">
          <i class="link-icon" data-feather="sunset"></i>
          <span class="link-title">Destek</span>
        </a>
      </li>
    
    </ul>
  </div>
</nav>
 